body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #0d2752;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}
h1 {
    font-size: 36px;
}
p {
    font-size: 18px;
    margin-top: 20px;
}
nav {
    margin-top: 20px;
}
nav a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4285f4;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 10px;
}
nav a:hover {
    background-color: #3579d8;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    justify-content: center;
}

.left {
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-bottom: 200px;
    margin-top: 200px;
}

.title{
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    
    box-shadow: 0px 0px 25px #888; 
    padding: 10px;
}

.iface {
    border: 1px solid #888; 
    border-radius: 7px;
    padding: 5px; 
    font-size: 16px; 
    box-shadow: 0px 0px 10px #888; 
    
}

.right {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.ins{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


input[type="file"] {
    display: none;
}

label {
    background-color: #007acc;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    width: 30%;
}

button {
    background-color: #007acc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;

}

#uploadedImage {
    max-width: 300px;
    max-height: 300px;
    margin-top: 20px;
    display: none;
}

select {
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 40%;
    max-width: 100%;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

p {
    font-weight: bold;
    margin-top: 20px;
}

#predictionResult {
    color: #007acc;
}

footer {
    text-align: center;
    color: #555;
    padding: 10px;
    background-color: #f5f5f5;
    display: grid;
    justify-self: flex-end;
}

.imgContainer {
    position: relative;

  
}

.imgContainer2 {
    position: relative;
  
    width: 40vw;
    & img {
      height: 100%;
      width: 100%;
    }
  }
  
  .fp {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
  }

  .enc{
    text-align: center;
  }

  .iContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  .aboutContainer{
    width: 65%;
    padding-left: 5%;
  }



